body {
    background: url('1.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    position: relative;
}
canvas {
    display: block;
}

/* 调整音乐播放器的样式 */
#music-player {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 10px;
}

/* 按钮样式 */
#button1 {
    position: absolute;
    top: 130px; /* 调整按钮位置 */
    left: 20px;
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#button1:hover {
    background-color: #45a049;
}



/*每日一言*/
#yiyan {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    color: #333;
    background-color: rgba(255, 255, 255, 0.8); /* 背景颜色透明度为0.8 */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
    font-weight: bold;
}
